:root {
  --color-text: rgb(255, 255, 255);
  --color-text-btn: aliceblue;
  --color-text-lighter: rgb(199, 199, 199);
  --color-background-1: rgb(0, 107, 121);
  --color-background-1-darker: rgb(0, 63, 63);
  --color-background-2: rgb(2, 156, 28);
  --color-background-2-darker: rgb(0, 94, 20);
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background: var(--color-background-1);
  background: linear-gradient(
    90deg,
    var(--color-background-1) 25%,
    var(--color-background-2) 80%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
table {
  color: var(--color-text);
}

img {
  width: 100%;
}

.container {
  margin: 4.5rem 1rem 2rem 1rem;
  display: flex;
}

.content {
  border-left: 3px solid var(--color-text);
  border-right: 3px solid var(--color-text);
  backdrop-filter: blur(5px);
}

#right-side {
  margin-left: 1rem;
  text-align: center;
  width: 200%;
}
#left-side {
  margin-right: 1rem;
  text-align: center;
  width: 200%;
}

.navbar {
  display: flex;
  position: fixed;
  backdrop-filter: blur(3px);
  top: 0;
  padding: 0.7rem;
  width: -webkit-fill-available;
  z-index: 1;
}

.navbar ul {
  display: flex;
  margin: 0.5rem;
}

.nav-item {
  padding: 0 1rem;
  display: block;
}

.nav-link {
  text-decoration: none;
  color: var(--color-text-lighter);
  transition: color 0.4s ease;
  font-size: 17px;
}

.nav-link:hover {
  color: var(--color-text);
}

.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: 10px;
  color: var(--color-text-btn);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--color-text-lighter);
  border: 1px solid var(--color-text-lighter);
}

.btn-primary {
  background-color: var(--color-background-1);
  border: 1px solid var(--color-background-1);
}

.btn-primary:hover {
  background-color: var(--color-background-1-darker);
  border: 1px solid var(--color-background-1-darker);
}

.btn-secondary {
  background-color: var(--color-background-2);
  border: 1px solid var(--color-background-2);
  color: var(--color-text);
}

.btn-secondary:hover {
  background-color: var(--color-background-2-darker);
  border: 1px solid var(--color-background-2-darker);
}

#dark-light-btn {
  font-size: 20px;
  padding: 2px;
}

.search-box {
  display: flex;
  margin: auto;
}

input[type="search"] {
  margin-right: 0.5rem;
}

input {
  border-radius: 10px;
  border: 2px solid var(--color-background-1-darker);
  transition: border 0.3s ease;
  padding: 0.5rem;
}

input:focus {
  border: 2px solid var(--color-background-1);
  outline: none !important;
}

.row {
  display: flex;
}

.mr-auto {
  margin: auto;
}

img[alt="Madrid"] {
  border-radius: 10px;
}

table,
td,
th {
  border: 1px solid var(--color-text-lighter);
  border-left: 0;
  border-right: 0;
  border-collapse: collapse;
  width: -webkit-fill-available;
}

td,
th {
  padding: 10px;
  text-align: center;
}

th {
  background-color: var(--color-background-2-darker);
  color: var(--color-text-btn);
}

tr:nth-child(even) {
  background-color: var(--color-background-2);
}

.sample-video {
  border-radius: 10px;
  width: 100%;
}

#footer {
  text-align: center;
  margin-bottom: 4rem;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

#right-side img,
#left-side img {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.col-12 {
  padding: 0 !important;
}
.col-12 h2 {
  padding: 4rem 1rem 1rem 1rem;
}

.menu-bar {
  margin: auto;
  fill: var(--color-text-lighter);
  cursor: pointer;
  transition: fill 0.4s ease;
  display: none;
}

.menu-bar:hover {
  fill: var(--color-text);
}

#map-example-container {
  height: 300px;
}
/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  padding: 4rem 1rem 0rem 1rem;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
  [class*="col-"] {
    width: 100%;
    padding: 1rem 1rem 0rem 1rem;
  }
}

@media only screen and (max-width: 925px) {
  #right-side img,
  #left-side img {
    width: 18%;
    height: 80%;
  }
  .container {
    flex-wrap: wrap;
  }

  #right-side,
  #left-side {
    margin: 0;
  }
}
@media only screen and (max-width: 600px) {
  button,
  table,
  a,
  p {
    font-size: 12px;
  }

  #dark-light-btn {
    font-size: 14px;
  }

  #search {
    padding: 0 0 0 0.5rem;
    width: 60%;
  }

  .menu-bar {
    margin-right: 1rem;
    margin-left: -10px;
  }
}

@media only screen and (min-width: 925px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3,
  table {
    font-size: 15px;
  }

  a,
  #dark-light-btn {
    font-size: 15px;
  }

  button {
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3,
  table,
  #dark-light-btn {
    font-size: 20px;
  }

  button {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }
  .navbar-items {
    display: none !important;
  }
}

.navbar-items {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .navbar-items {
    position: fixed;
    top: 50px;
    z-index: 1;
    backdrop-filter: blur(3px);
    margin-top: 0;
    display: none;
    width: -webkit-fill-available;
    padding: inherit;
  }
  .navbar-items li {
    margin-top: 0.5rem;
  }

  .navbar-items li:last-of-type {
    margin-bottom: 0.5rem;
  }
  .menu-bar {
    display: inline;
  }
  .navbar ul {
    display: none;
  }
}
