.container{
    display: flex;
    justify-content: center;
    margin: 10rem;
}

input{
    padding-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    outline: none;
    border: 1px solid rgb(60, 60, 219);
    border-radius: 3px;
}

button{
    padding-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #ffffff;
    background-color: rgb(60, 60, 219);
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(60, 60, 219);
    border-radius: 3px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(52, 52, 179);
    box-shadow: 0 1px 3px 0 rgb(60, 60, 219), 0 1px 2px 0 rgb(60, 60, 219);
}